//fonts
$main-font: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$second-font: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$accent-title-font: 'Kaushan Script', 'Franklin Gothic Medium', 'Arial Narrow',
  Arial, sans-serif;

//font-weight
$bold-text: 700;
$regular-text: 400;
$light-italic-text: 300;

//colors
$color-main-white: #ffffff;
$color-main-dark: #333333;
$color-main-gray: #999999;
$color-yellow-accent: #fce38a;
$color-underline: #f38181;
$color-first-gradient: #f38181e6;
$color-second-gradient: #fce38ae6;
$color-item-image: #95e1d3;
$color-footer-border: #e5e5e5;
$color-footer-input-border: #e7e7e7;
$color-input-placeholder: #cccccc;
$color-valid: #9acd32;
$color-invalid: #ff0000;
$color-subscribe-btn: #95e1d3;

$container-width: 1200px;
