html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 30px 30px;
  border: 1px solid rgb(184, 184, 184);
}

label {
  display: block;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
}

.btn {
  display: block;
}

.task__section:not(:last-child) {
  margin-bottom: 30px;
}

.red {
  color: #fa8072;
}
