@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Monsieur La Doulaise';
  font-style: normal;
  font-weight: 400;
  src: local('Monsieur La Doulaise Regular'),
    local('MonsieurLaDoulaise-Regular'),
    url('../fonts/monsieur-la-doulaise-v8-latin-regular.woff2') format('woff2'),
    url('../fonts/monsieur-la-doulaise-v8-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'),
    url('../fonts/pt-serif-v11-latin-italic.woff2') format('woff2'),
    url('../fonts/pt-serif-v11-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
}
